input, button {
    margin-bottom: 10px;
}

.basicDiv {
    border: solid 1px black;
    padding: 1%;
    margin: 1%;  
    display: inline-block; 
}

select {
    margin: 1%;
}

#selectDB, #selectTable {
    width: 15%;
    margin: 1% 1% 0 1%;
}

tr, th {
    min-width: 100px;
}
table, th, tr {
    font-size: 12px;
    max-width:fit-content;
    border: solid 1px black;
    border-collapse: collapse;
    padding: 3px 2px 3px 2px;   
    margin: 1%;
}

#databases, #tables {
    width: 45%;
}

#wrapper {
    width: 100%;
    display: inline-block;
}

#resultDiv {
    display:inline-block;
    position: sticky; top: -10; 
    margin: -20px 0 0 -15px;
    padding: 0px 15px 0px 10px;
    background-color: #f2f2f2;
    border: 2px solid #bfbfbf;
    border-bottom-right-radius: 9px;
}

#inputData, #inputDataColumn {
    width:340px;
}

h3 {
    margin-top: 0%;
    text-align:center;
}
