input, button {
    margin-bottom: 10px;
}

div {
    border: solid 1px black;
    padding: 1%;
    margin: 1%;
}

select {
    margin: 1%;
}

#selectDB, #selectTable {
    width: 15%;
    margin: 0 8% 0 8%;
}

table, th, tr {
    max-width:fit-content;
    min-width: 100px;
    border: solid 1px black;
    border-collapse: collapse;
    padding: 1% 0% 1% 0%;   
    margin: 1%;
}

.lineData {
}

